{% extends "core/base.html" %}

{% block header %}
<header class="bar bar-nav">
    <h1 class="title">个人中心</h1>
</header>
{% endblock %}

{% block content %}
    <div class="card">
      <div class="card-header">
        <div class="list-block media-list">
          <ul>
            <li class="item-content">
              <div class="item-media">
                <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="44">
              </div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">Heisaman</div>
                </div>
                <div class="item-subtitle">子标题</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-content">
        <div class="list-block">
          <ul>
            <li>
              <a href="#" class="item-link item-content">
                <div class="item-media"><i class="icon icon-card"></i></div>
                <div class="item-inner">
                  <div class="item-title">个人档案</div>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="item-link item-content">
                <div class="item-media"><i class="icon icon-gift"></i></div>
                <div class="item-inner">
                  <div class="item-title">讲座记录</div>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="item-link item-content">
                <div class="item-media"><i class="icon icon-clock"></i></div>
                <div class="item-inner">
                  <div class="item-title">学习记录</div>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="item-link item-content">
                <div class="item-media"><i class="icon icon-emoji"></i></div>
                <div class="item-inner">
                  <div class="item-title">收到的通知</div>
                  <span class="badge">2</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
{% endblock %}
