{% extends "core/base.html" %}

{% block header %}
<header class="bar bar-nav">
    <h1 class="title">师生互动</h1>
</header>
{% endblock %}

{% block content %}
<div class="list-block media-list inset">
    <ul>
      <li>
        <a href="{% url 'seminar' %}" class="item-link item-content">
          <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" style='width: 2.2rem;'></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">名师推荐</div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="list-block media-list inset">
    <ul>
      <li>
        <a href="#" class="item-link item-content">
          <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" style='width: 2.2rem;'></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">必读书目</div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="list-block media-list inset">
    <ul>
      <li>
        <a href="#" class="item-link item-content">
          <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" style='width: 2.2rem;'></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">家校互动</div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
{% endblock %}
